<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
  <div class="container">
    <div class="row gy-4 align-items-start">

      <div class="col-12 col-lg-3">
        <div class="footer-brand">
          <img class="footer-logo" src="{{ get_asset_url('../../images/logo.png') }}" alt="Yuanta Wealth" />
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="footer-nav-wrap">
          <ul class="footer-nav-links">
            <li><a href="#">Services</a></li>
            <li><a href="/why-us">Why us</a></li>
            <li><a href="/wealth-insights">Insights</a></li>
          </ul>
          <ul class="footer-nav-links">
            <li><a href="/privileges-events">Privileges &amp; Events</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
          </ul>
        </div>
      </div>

      <div class="col-12 col-lg-3">
        <div class="footer-contact-col">
          <div class="footer-contact-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.8"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"/></svg>
            <a href="tel:020098000">0-2009-8000</a>
          </div>
          <div class="footer-contact-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.8"><path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"/></svg>
            <a href="mailto:online@yuanta.co.th">online@yuanta.co.th</a>
          </div>
          <div class="footer-social">
            <a href="https://www.facebook.com/yuantathai" target="_blank"><img src="{{ get_asset_url('../../images/Facebook.png') }}" alt="Facebook" /></a>
            <a href="https://line.me/R/ti/p/@sxk4157s" target="_blank"><img src="{{ get_asset_url('../../images/Line.png') }}" alt="Line" /></a>
            <a href="https://www.youtube.com/channel/UCqpfaQS5MRpI_As13qX3-hA" target="_blank"><img src="{{ get_asset_url('../../images/Youtube.png') }}" alt="YouTube" /></a>
            <a href="https://www.instagram.com/yuantathai" target="_blank"><img src="{{ get_asset_url('../../images/Instagram.png') }}" alt="Instagram" /></a>
            <a href="https://t.me/Yuantathai" target="_blank"><img src="{{ get_asset_url('../../images/Telegram.png') }}" alt="Telegram" /></a>
            <a href="https://x.com/yuantathai" target="_blank"><img src="{{ get_asset_url('../../images/X.png') }}" alt="X" /></a>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-2">
        <p class="footer-address-text">เลขที่ 127 อาคารเกษร ทาวเวอร์ ชั้น 14-16 ถนนราชดำริ แขวงลุมพินี เขตปทุมวัน กรุงเทพมหานคร 10330</p>
      </div>

    </div>
  </div>
</footer>
